{% extends 'portal/structure/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="fluid-container">
  <div class="row justify-content-md-center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">CNPJ</th>
          <th scope="col">Segurado</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Telefone</th>
          <th scope="col">Celular</th>
        </tr>
      </thead>
      <tbody>
        {% for segurado in segurados %}
        <tr>
          <th scope="row"><a href="">{{segurado.cnpj}}</a></th>
          <td>{{segurado.nome}}</td>
          <td><a href="">{{segurado.email}}</a></td>
          <td>{{segurado.telefone}}</td>
          <td>{{segurado.celular}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



{% endblock %}
