<div class="card">
  <div class="card-header align-items-start"><h5>Bem Segurado</h5></div>
  <div class="card-body">
    <div class="row align-items-start" style="height: 25px; background-color: #1CB7D3;">
      <div class="col-lg-3 w-50 p-1 border-left">Atividade</div>
      <div class="col-lg-2 w-50 p-1 border-left">Nº de Vidas Segurada</div>
      <div class="col-lg-2 w-50 p-1 border-left">Importância Segurada</div>
      <div class="col w-25 p-1 border-left">Vigência</div>
      <div class="col-lg-3 w-25 p-1 border-left border-right">Renovação CIA</div>
    </div>
    <div class="row align-items-center" style="height: 35px;">
      <div class="col-lg-3 w-50 p-1 border-left border-bottom">Qúimica</div>
      <div class="col-lg-2 w-25 p-1 border-left border-bottom">122</div>
      <div class="col-lg-2 w-25 p-1 border-left border-bottom">R$ 200.000,00</div>
      <div class="col-lg-2 w-25 p-1 border-left border-bottom">25/11/2018</div>
      <div class="col-lg-3 w-25 p-1 border-left border-right border-bottom">HDI</div>
    </div>
  </div>
</div>
