{% extends 'portal/structure/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container fixed-midle">
  <div class="row justify-content-center">
    <div class="col align-self-center">
      <div class="dropdown-divider"></div>
      <h4></h4>
      <!-- Start cooperativaForm -->{{bem}}
      <!-- TODO: Verificar possibilidade de fazer os detalhes na table -->
      <div class="card">
        <div class="card-header"><h5>Detalhes do Agendamento</h5></div>
        <div class="card-body">
          <!-- First row -->
          <div class="row align-items-start" style="height: 25px; background-color: #1CB7D3;">
            <div class="col-lg-2 w-25 p-1 border-left">Protocolo</div>
            <div class="col-lg-5 w-25 p-1 border-left">Cooperativa</div>
            <div class="col-lg-3 w-25 p-1 border-left">Agência</div>
            <div class="col w-25 p-1 border-left border-right">Inclusão</div>
          </div>
          <div class="row align-items-center"  style="height: 35px;">
            <div class="col-lg-2 w-25 p-1 border-left">{{agendamento.protocol}}</div>
            <div class="col-lg-5 w-25 p-1 border-left">{{agendamento.cooperativa}}</div>
            <div class="col-lg-3 w-25 p-1 border-left">{{agendamento.cooperativa.agencia}}</div>
            <div class="col w-25 p-1 border-left border-right">{{agendamento.inclusao|date:"d/m/Y"}}</div>
          </div>
          <!-- Second row -->
          <div class="row align-items-start" style="height: 25px; background-color: #1CB7D3;">
            <div class="col-lg-5 w-50 p-1 border-left">Solicitante</div>
            <div class="col w-25 p-1 border-left">E-mail</div>
            <div class="col w-25 p-1 border-left">Telefone</div>
            <div class="col w-25 p-1 border-left border-right">Celular</div>
          </div>
          <div class="row align-items-center" style="height: 35px;">
            <div class="col-lg-5 w-50 p-1 border-left border-bottom">{{agendamento.cooperativa.solicitante}}</div>
            <div class="col w-25 p-1 border-left border-bottom">{{agendamento.cooperativa.email}}</div>
            <div class="col w-25 p-1 border-left border-bottom">{{agendamento.cooperativa.telefone}}</div>
            <div class="col w-25 p-1 border-left border-right border-bottom">{{agendamento.cooperativa.celular}}</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><h5>Segurado</h5></div>
        <div class="card-body">
          <!-- SEGURADO -->
          <div class="row align-items-start" style="height: 25px; background-color: #1CB7D3;">
            <div class="col-lg-8 w-50 p-1 border-left">Nome</div>
            <div class="col w-25 p-1 border-left border-right">CNPJ</div>
          </div>
          <div class="row align-items-center" style="height: 35px;">
            <div class="col-lg-8 w-50 p-1 border-left">{{agendamento.segurado.nome}}</div>
            <div class="col w-25 p-1 border-left border-right">{{agendamento.segurado.cnpj}}</div>
          </div>
          <div class="row align-items-start" style="height: 25px; background-color: #1CB7D3;">
            <div class="col-lg-6 w-50 p-1 border-left">E-mail</div>
            <div class="col w-25 p-1 border-left">Telefone</div>
            <div class="col w-25 p-1 border-left border-right">Celular</div>
          </div>
          <div class="row align-items-center" style="height: 35px;">
            <div class="col-lg-6 w-50 p-1 border-left">{{agendamento.segurado.email}}</div>
            <div class="col w-25 p-1 border-left">{{agendamento.segurado.telefone}}</div>
            <div class="col w-25 p-1 border-left border-right">{{agendamento.segurado.celular}}</div>
          </div>
          <div class="row align-items-start" style="height: 25px; background-color: #1CB7D3;">
            <div class="col-lg-2 w-50 p-1 border-left">CEP</div>
            <div class="col-lg-6 w-50 p-1 border-left">Endereço</div>
            <div class="col w-25 p-1 border-left border-right">Município</div>
          </div>
          <div class="row align-items-center" style="height: 35px;">
            <div class="col-lg-2 w-50 p-1 border-left border-bottom">{{agendamento.segurado.cep}}</div>
            <div class="col-lg-6 w-50 p-1 border-left border-bottom">{{agendamento.segurado.endereco}}</div>
            <div class="col w-25 p-1 border-left border-right border-bottom">{{agendamento.segurado.municipio}}</div>
          </div>
        </div>
      </div>
          <!-- FROTA -->
      <div class="card">
        <div class="card-header align-items-start"><h5>Bem Segurado</h5></div>
        <div class="card-body">
          <div class="row align-items-start" style="height: 25px; background-color: #1CB7D3;">
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-6 w-50 p-1 border-left">Veículos Leve</div>
                <div class="col-lg-6 w-50 p-1 border-left">Veículos Pesados</div>
              </div>
            </div>
            <div class="col-lg-2 w-50 p-1 border-left">Quantidade de Itens</div>
            <div class="col w-25 p-1 border-left">Vigência</div>
            <div class="col-lg-4 w-25 p-1 border-left border-right">Renovação CIA</div>
          </div>
          <div class="row align-items-center" style="height: 35px;">
            <div class="col-lg-2 w-50 p-1 border-left border-bottom">{% if secondaryModel.tipo_leve == True %} Sim {% else %} Não {% endif %}</div>
            <div class="col-lg-2 w-25 p-1 border-left border-bottom">{% if secondaryModel.tipo_pesado == True %} Sim {% else %} Não {% endif %}</div>
            <div class="col w-25 p-1 border-left border-bottom">{{secondaryModel.qnt_itens_seg}}</div>
            <div class="col w-25 p-1 border-left border-bottom">{{agendamento.final_vigencia | date:'d/m/Y'}}</div>
            <div class="col-lg-4 w-25 p-1 border-left border-right border-bottom">{{secondaryModel.renovacao_cia}}</div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class='card-header'>
          <div class="row">
            <div class="col">
              <h5>Agenda</h5>
            </div>
            <div class="col">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#newPostModal">
                Incluir
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
        {% for agendamentoPost in agendamentoPosts %}
          <div class="card">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{agendamentoPost.text}}</p>
                <footer class="blockquote-footer">{{agendamentoPost.author.first_name}} {{agendamentoPost.author.last_name}}, em: <cite title="Source Title">{{agendamentoPost.created_date}}</cite></footer>
              </blockquote>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" class="post-form">{% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="newPostModalLabel">Agenda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ agendamentoPostForm.as_p }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
