


<!-- Start AgendamentoForm -->

  <div class="form-group col-sm-10 col-md-4 col-lg-3">
    <label for="inputAgendamentoFinalVig">{{agendamentoForm.final_vigencia.label_tag}}</label>
    {{agendamentoForm.final_vigencia}}
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-5 col-lg-4">
    <label for="inputColaborador">{{agendamentoForm.colaborador.label_tag}}</label>
    {{agendamentoForm.colaborador}}
  </div>
  <div class="form-group col-md-5 col-lg-4">
    <label for="inputPA">{{agendamentoForm.pa.label_tag}}</label>
    {{agendamentoForm.pa}}{{error}}
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-10 col-lg-8">
    <label for="inputObservacao">{{agendamentoForm.observacao.label_tag}}</label>
    {{agendamentoForm.observacao}}
  </div>
</div>
