
        <div class="dropdown-divider"></div>
        <h4>Cooperativa</h4>
        <!-- Start cooperativaForm -->
        <div class="form-row">
          <div class="form-group col-md-6 col-lg-5">
            <label for="inputCooperativa">{{cooperativaForm.cooperativa.label_tag}}</label>
            {{cooperativaForm.cooperativa}}
          </div>
          <div class="form-group col-md-6 col-lg-5">
            <label for="inputAgencia">{{cooperativaForm.agencia.label_tag}}</label>
            {{cooperativaForm.agencia}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 col-lg-5">
            <label for="inputSolicitante">{{cooperativaForm.solicitante.label_tag}}</label>
            {{cooperativaForm.solicitante}}
          </div>
          <div class="form-group col-md-6 col-lg-5">
            <label for="inputSolEmail">{{cooperativaForm.email.label_tag}}</label>
            {{cooperativaForm.email}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 col-sm-6 col-lg-2">
            <label for="inputSolTelefone">{{cooperativaForm.telefone.label_tag}}</label>
            {{cooperativaForm.telefone}}
          </div>
          <div class="form-group col-md-3 col-sm-6 col-lg-2">
            <label for="inputSolCelular">{{cooperativaForm.celular.label_tag}}</label>
            {{cooperativaForm.celular}}
          </div>
        </div>
