

<!-- Start secondaryForm -->

<h4>Empresarial</h4>
<div class="form-row">
  <div class="form-group col-md-8 col-lg-6">
    <label for="inputSegNome">{{secondaryForm.atividade.label_tag}}</label>
    {{secondaryForm.atividade}}
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-4 col-lg-3">
    <label for="inputEmpQntLRisc">{{secondaryForm.qnt_local_risco.label_tag}}</label>
    {{secondaryForm.qnt_local_risco}}
  </div>
  <div class="form-group col-md-4 col-lg-3">
    <label for="inputEmpIS">{{secondaryForm.IS.label_tag}}</label>
    <div class="input-group-prepend">
      <span class="input-group-text">R$</span>
      {{secondaryForm.IS}}
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-5 col-lg-4">
    <label for="inputEmpRenovacaoCia">{{secondaryForm.renovacao_cia.label_tag}}</label>
    {{secondaryForm.renovacao_cia}}
  </div>
