{% extends 'portal/structure/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center fixed-bottom">
</div>
<div class="container fixed-midle">
<!--  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    </div>
  </div> -->
  <div class="row justify-content-center">
    <div class="col align-self-center">
      <form>
        <div class="dropdown-divider"></div>
        <h4>Cooperativa</h4>
        <!-- Start cooperativaForm -->
        <div class="form-row">
          <div class="form-group col-md-5 col-sm-6">
            <label for="inputCooperativa">{{cooperativaForm.cooperativa.label_tag}}</label>
            {{cooperativaForm.cooperativa}}
          </div>
          <div class="form-group col-md-6">
            <label for="inputAgencia">{{cooperativaForm.agencia.label_tag}}</label>
            {{cooperativaForm.agencia}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputSolicitante">{{cooperativaForm.solicitante.label_tag}}</label>
            {{cooperativaForm.solicitante}}
          </div>
          <div class="form-group col-md-6">
            <label for="inputSolEmail">{{cooperativaForm.email.label_tag}}</label>
            {{cooperativaForm.email}}
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <label for="inputSolTelefone">{{cooperativaForm.telefone.label_tag}}</label>
            {{cooperativaForm.telefone}}
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <label for="inputSolCelular">{{cooperativaForm.celular.label_tag}}</label>
            {{cooperativaForm.celular}}
          </div>
        </div>
        <!-- Start seguradoForm -->
        <div class="dropdown-divider"></div>
        <h4>Segurado</h4>
        <div class="form-row">
          <div class="form-group col-md-5 col-sm-6">
            <label for="inputSegNome">{{seguradoForm.nome.label_tag}}</label>
            {{seguradoForm.nome}}
          </div>
          <div class="form-group col-md-6">
            <label for="inputSegCNPJ">{{seguradoForm.cnpj.label_tag}}</label>
            {{seguradoForm.cnpj}}
          </div>
          <div class="form-group col-md-5">
            <label for="inputSegEndereco">{{seguradoForm.endereco.label_tag}}</label>
            {{seguradoForm.endereco}}
          </div>
          <div class="form-group col-md-6">
            <label for="inputSegEmail">{{seguradoForm.email.label_tag}}</label>
            {{seguradoForm.email}}
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <label for="inputSegTelefone">{{seguradoForm.telefone.label_tag}}</label>
            {{seguradoForm.telefone}}
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <label for="inputSegCelular">{{seguradoForm.celular.label_tag}}</label>
            {{seguradoForm.celular}}
          </div>
        </div>
        <!-- Start empresarialForm -->
        <div class="dropdown-divider"></div>
        <h4>Empresarial</h4>
        <div class="form-row">
          <div class="form-group col-md-5 col-sm-6">
            <label for="inputSegNome">{{empresarialForm.atividade.label_tag}}</label>
            {{empresarialForm.atividade}}
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmpQntLRisc">{{empresarialForm.qnt_local_risco.label_tag}}</label>
            {{empresarialForm.qnt_local_risco}}
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmpIS">{{empresarialForm.IS.label_tag}}</label>
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
              {{empresarialForm.IS}}
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmpRenovacaoCia">{{empresarialForm.renovacao_cia.label_tag}}</label>
            {{empresarialForm.renovacao_cia}}
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <label for="inputEmpFinalVig">{{empresarialForm.final_vigencia.label_tag}}</label>
            {{empresarialForm.final_vigencia}}
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
