{% extends 'portal/structure/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center fixed-bottom">
</div>
<div class="container fixed-midle">
<!--  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    </div>
  </div> -->
  <div class="row justify-content-center">
    <div class="col align-self-center">
      <form method="post" class="post-form">{% csrf_token %}
        {% include 'agendamento/coop_form.html' %}
        
        {{collapseOpt}}
        <div class="col-md-1">
          <button class="btn btn-secondary" type="submit">Consultar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
