{% extends 'portal/structure/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center fixed-bottom">
</div>
<div class="container fixed-midle">
<!--  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    </div>
  </div> -->
  <div class="row justify-content-center">
    <div class="col align-self-center">
      <form method="POST" class="post-form">{% csrf_token %}
        <!-- Formulário da Coperativa -->
        <div class="fluid-container">
          <div class="form-row">
            
            <p>
              {{cooperativaForm.cooperativa.label_tag}}
              {{cooperativaForm.cooperativa}}
            </p>
            <p>
              {{cooperativaForm.agencia.label_tag}}
              {{cooperativaForm.agencia}}
            </p>

            {{cooperativaForm.solicitante.label_tag}}
            {{cooperativaForm.solicitante}}

            {{cooperativaForm.email.label_tag}}
            {{cooperativaForm.email}}


            {{cooperativaForm.telefone.label_tag}}
            {{cooperativaForm.telefone}}


            {{cooperativaForm.celular.label_tag}}
            {{cooperativaForm.celular}}
          </div>
        </div>
        <!-- Formulário do Segurado -->
        <div class="fluid-container">
          <h5>Cliente</h5>
          <div class="form-row">
            {{seguradoForm.nome.label_tag}}
            {{seguradoForm.nome}}

            {{seguradoForm.email.label_tag}}
            {{seguradoForm.email}}

            {{seguradoForm.telefone.label_tag}}
            {{seguradoForm.telefone}}


            {{seguradoForm.celular.label_tag}}
            {{seguradoForm.celular}}

            {{seguradoForm.cnpj.label_tag}}
            {{seguradoForm.cnpj}}

            {{seguradoForm.endereco.label_tag}}
            {{seguradoForm.municipio}}

          </div>
        </div>
          <button type="submit" class="save btn btn-default">Guardar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
