{% extends 'portal/structure/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row justify-content-center fixed-bottom">
</div>
<div class="container fixed-midle">
<!--  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    </div>
  </div> -->

  <div class="row justify-content-center">
    <div class="col align-self-center">
      <form method="post" class="post-form" name="agendamento">{% csrf_token %}
        <fieldset {{primaryFormSet}}>
        {% include 'agendamento/coop_form.html' %}
        <!-- Product Selection -->
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputRamo" >Ramo:</label>
            <select id="inputRamo" class="form-control" name="inputRamo">
              {% for ramo in ramos %}
                <option value="{{ramo.nome}}"
                  {% if ramo.nome == selected %}
                    selected
                  {% endif %}>{{ramo.nome}}</option>
                {% endfor %}
            </select>
          </div>{{segurado}}
        </div>

        {% if seguradoForm %}
        {% include 'agendamento/segurado_form.html' %}
        {% endif %}

        <div class="col-md-1">
          <button class="btn btn-secondary" type="submit">Proximo</button>
        </div>
        {% if secondaryForm %}

        {% include "agendamento/"|add:secondaryFormTemplate %}
        <div class="col-md-1">
          <button class="btn btn-secondary" type="submit">Cadastrar</button>
        </div>{{segurado}}
        {% endif %}
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
