

        <!-- Start seguradoForm -->
        <div class="dropdown-divider"></div>
        <h4>Segurado</h4>
        <div class="form-row">
          <div class="form-group col-md-3 col-sm-6">
            <label for="inputSegCNPJ">{{seguradoForm.cnpj.label_tag}}</label>
            {{seguradoForm.cnpj}}
          </div>
          <div class="form-group col-md-6 col-sm-6">
            <label for="inputSegNome">{{seguradoForm.nome.label_tag}}</label>
            {{seguradoForm.nome}}
          </div>
          <div class="form-group col-md-5">
            <label for="inputSegEndereco">{{seguradoForm.endereco.label_tag}}</label>
            {{seguradoForm.endereco}}
          </div>
          <div class="form-group col-md-5">
            <label for="inputSegMunicipio">{{seguradoForm.municipio.label_tag}}</label>
            {{seguradoForm.municipio}}
          </div>
          <div class="form-group col-md-6">
            <label for="inputSegEmail">{{seguradoForm.email.label_tag}}</label>
            {{seguradoForm.email}}
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <label for="inputSegTelefone">{{seguradoForm.telefone.label_tag}}</label>
            {{seguradoForm.telefone}}
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <label for="inputSegCelular">{{seguradoForm.celular.label_tag}}</label>
            {{seguradoForm.celular}}
          </div>
        </div>
