


<!-- Start Form de Vida -->
<h4>Vida Grupo</h4>

<div class="form-row">
  <div class="form-group col-md-4 col-lg-2">
    <label for="inputTranspMercadoria">{{secondaryForm.tipo.label_tag}}</label>
    {{secondaryForm.tipo}}
  </div>
  <div class="form-group col-md-4 col-lg-2">
    <label for="inputEmpQntLRisc">{{secondaryForm.qnt_vida_seg.label_tag}}</label>
    {{secondaryForm.qnt_vida_seg}}
  </div>
  <div class="form-group col-md-4 col-lg-3">
    <label for="inputTranspIS">{{secondaryForm.IS.label_tag}}</label>
    <div class="input-group-prepend">
      <span class="input-group-text">R$</span>
      {{secondaryForm.IS}}
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-4 col-lg-3">
    <label for="inputAtividadeEmpresa">{{secondaryForm.atividade_empresa.label_tag}}</label>
    {{secondaryForm.atividade_empresa}}
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6 col-lg-4">
    <label for="inputVidaRenovacaoCia">{{secondaryForm.renovacao_cia.label_tag}}</label>
    {{secondaryForm.renovacao_cia}}
  </div>
